@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-family: 'Great Vibes', cursive;
  font-size: 5rem; /* Desktop */
  white-space: nowrap;
}

/* Tablets */
@media (max-width: 1024px) {
  h1 {
    font-size: 4rem;
  }
}

/* Celulares */
@media (max-width: 600px) {
  h1 {
    font-size: 2.8rem;
    white-space: normal; /* permite quebrar linha se necessário */
    text-align: center;  /* opcional: melhora no mobile */
  }

  .mobile-image {
    width: 140px;
  }
}

h4 {
  font-family: 'Montserrat';
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;

  margin-bottom: 24px;
}

p {
  font-family: 'Montserrat';
  color: #4b565d;
}
